{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:jsx-a11y/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "simple-import-sort",
    "promise",
    "prettier",
    "filenames",
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "arrow-parens": "off",
    "object-curly-spacing": "off",
    "no-console": "warn",
    "class-methods-use-this": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["gatsby-config.js"]
      }
    ],
    "import/order": "off",
    "simple-import-sort/sort": "error",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "specialLink": ["to"]
      }
    ]
  }
}
